body {
    background: url(fond\ cascade.png) fixed;
    background-size: 100em 100em;
    margin: 0;
    padding: 0;
}
#image{
    display: flex;
    justify-content: space-around;
}
img{
    width:405px;
    height: auto;
    text-align: center;
    margin: 0px;
}
#titre{
    display: flex;
    justify-content: center;
    margin: 5px;
}
h1{
    
    
    padding: 1px;
    color: pink;
    border: 5px pink solid;
    
}
ol{
    background-color: blueviolet;
    display: flex;
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin: 0px;
    margin-top: 0;
    justify-content: space-around;
    list-style: none;
    margin-bottom: 0;
}

p{
    color: pink;
}
#paratexte{
    display: flex;
    justify-content: center;
    margin: 5px;
}
